html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: #3e454c;
    background-color: #ffffff;
}

.message {
    padding: 5em;
    margin: 0;
    border: 0;
    color: #3e454c;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}